services:
  web:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      POSTGRES_DB: automator_db
      POSTGRES_USER: automator_user
      POSTGRES_PASSWORD: automator_pass
      DJANGO_SETTINGS_MODULE: core.settings
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: automator_user
      POSTGRES_PASSWORD: automator_pass
      POSTGRES_DB: automator_db
    ports:
      - "5432:5432"
    volumes:
    - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U automator_user"]
      interval: 3s
      timeout: 3s
      retries: 5 

volumes:
  postgres_data:
